<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="RootDirectory" value=".\" />-->
    <add key="RootDirectory" value=".\" />
    <add key="WorkingDirectory" value="temp" />
    <add key="BasesDirectory" value="bases" />
    <add key="ResourcesDirectory" value="resources" />
    <add key="ShareDirectory" value="share"/>
    <add key="CsvFile" value="Images.csv" />
    <add key="VirtualMachineName" value="Factory VM" />
    <add key="VirtualSwitchName" value="Factory Switch" />
    <add key="Organization" value="MCS"/>
    <add key="Owner" value="Christoph Petersen"/>
    <add key="Timezone" value="W. Europe Standard Time"/>
    <add key="AdminPassword" value="" />
    <add key="UserPassword" value="" />
  </appSettings>
  <ImageFactory.Images>
    <!--
      <add Name="" Path="" Key="" Edition="" IsDesktop="" IsDesktop="" Is32Bit="" VmGeneration="" />
      
      Name - Friendly name for the image
      Path - Path to the .iso/.wim file
      Key - Product key
      Edition - Which edition should be taken (e.g. ServerStandard, ServerDataCenter)
      IsDesktop - Whether this is an desktop OS or server OS
      Is32Bit - Whether this is a 32-bit or 64-bit installation
      VmGeneration - Whether to create a generation 1 or generation 2 VM
      
      Examples:
      
      <add Name="Windows Server 2012 R2 Standard" Path="" Key="" Edition="ServerStandard" IsDesktop="false" Is32Bit="false" VmGeneration="2" />
      <add Name="Windows Server 2012 R2 Datacenter" Path="" Key="" Edition="ServerDatacenter" IsDesktop="false" Is32Bit="false" VmGeneration="2" />  
      <add Name="Windows Server 2012 R2 Datacenter Core" Path="" Key="" Edition="ServerDatacenterCore" IsDesktop="false" Is32Bit="false" VmGeneration="2" />  
      <add Name="Windows 8.1 Professional" Path="" Key="" Edition="Professional" IsDesktop="true" Is32Bit="false" VmGeneration="2" />  
    -->
  </ImageFactory.Images>
</configuration>